{% extends 'base.html.twig' %}

{% block title %}
	Connexion - Home24.fr
{% endblock %}

{% block body %}
	<h1>Connexion</h1>
	<br>
	{% if error %}
		<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
	{% endif %}

	<form action="{{ path('app_login') }}" method="post">
		<label for="username">Email:</label>
		<input type="text" id="username" name="_username" value="{{ last_username }}" class="ms-3">
		<label for="password" class="ms-3">Password:</label>
		<input type="password" id="password" name="_password" class="ms-3">
		<button type="submit" class="ms-3">Connexion</button>
	</form>
{% endblock %}
