{% extends "base.html.twig" %}

{% block title %}
	Accueil
{% endblock %}

{% block body %}
	<h1>Les nouveautés du moment !</h1>
	<div class="row">
		{% for product in products %}
			<div class="col">
				{% include 'shared/_product_card.html.twig' %}
			</div>
		{% endfor %}
	</div>
	<hr>
	<h2>Un service irréprochable</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At iure sapiente amet ipsum? Autem, harum!</p>
	<div class="row">
		{% include "shared/_assurance.html.twig" with {
            "color": "primary",
            "icone": "fas fa-truck",
            "text": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe voluptates tempore exercitationem illo aperiam ipsam."
        }%}
		{% include "shared/_assurance.html.twig" with {
            "color": "success",
            "icone": "fas fa-check",
            "text": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe voluptates tempore exercitationem illo aperiam ipsam."
        }%}
		{% include "shared/_assurance.html.twig" with {
            "color": "warning",
            "icone": "fas fa-lock",
            "text": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe voluptates tempore exercitationem illo aperiam ipsam."
        }%}
	</div>
{% endblock %}
